#compiled code
####################
prog1_mandelbrot_threads/mandelbrot
#images
####################
prog1_mandelbrot_threads/mandelbrot-serial.ppm
prog1_mandelbrot_threads/mandelbrot-thread.ppm
#objetos
####################
prog1_mandelbrot_threads/objs/
