#compiled code
####################
prog1_mandelbrot_threads/mandelbrot
#images
####################
prog1_mandelbrot_threads/mandelbrot-serial.ppm
prog1_mandelbrot_threads/mandelbrot-thread.ppm
#objetos
####################
prog1_mandelbrot_threads/objs/
#Makefiles
####################
prog1_mandelbrot_threads/Makefile
prog3_mandelbrot_ispc/Makefile
prog4_sqrt/Makefile
prog5_saxpy/Makefile
